$black: #000;
$eerie-black: #1b1a1a;
$hadopelagic-water: #222;
$very-dark-blue: #333;
$black-panther: #404242;
$black-panther: #424242;
$ash-to-ash: #4d4d4d;
$edge-of-black: #55565a;
$d-darx-blue: #666;
$dim-grey: #696969;
$up-in-smoke: #6d6e70;
$dark-silver: #707070;
$bank-vault: #737373;
$namara-grey: #7c7c7c;
$duke-blue: #999;
$chrome-aluminum: #a7a9ac;
$cobalt: #aaa;
$shining-silver: #cac8c8;
$hint-of-mauve-pansy: #d9d9d9;
$porpoise: #dbdbdb;
$pure-blue: #ddd;
$silver-lake: #dedede;
$barely-blue: #dddfe0;
$moon-lily: #e6e6e6;
$poplar-kitten: #ebe9e9;
$bai-se-white: #f1f2f2;
$bai-se-white: #f2f2f2;
$white-smoke: #f5f5f5;
$rich-blue: #fff;
$apple-ii-chocolate: #d6680b;
$peach-caramel: #c7733d;
$astorath-red: #e04726;
$ornery-tangerine: #f48120;
$ornery-tangerine: #f58220;
$jasper: #db3f3e;
$persimmon-orange: #f57329;
$umezome-pink: #f69259;
$umezome-pink: #f7935a;
$half-orc-highlight: #9a6e3a;
$phthalo-blue: #e90;
$clear-orange: #f38b00;
$squash-blossom: #f7b334;
$dark-blue: #690;
$italian-buckthorn: #6c8b15;
$dark-lemon-lime: #8eb71c;
$blue-overdose: #ff0;
$felt-green: #71c492;
$calypso-green: #31615d;
$jade-cream: #61bc8f;
$aqua-sky: #7ac8c5;
$marooned: #85cba8;
$elephant: #26323d;
$pirates-haven: #004c75;
$cleos-bath: #00517f;
$rave-regatta: #00609c;
$scotch-blue: #07a;
$beautiful-blue: #1c6cb5;
$lochmara: #2f71a7;
$campanula: #2e71a8;
$sardinia-beaches: #2da7cb;
$casting-sea: #408bc9;
$magical-merlin: #3f8bca;
$azure-blue: #4f8cc8;
$cousteau: #56afd8;
$megaman: #4dc8f1;
$pearl-bay: #7dc7c8;
$mizu: #6bbcdf;
$bright-spark: #76c4e2;
$club-cruise: #89c4e1;
$template: #a3c7e5;
$himalaya-peaks: #e0e9ef;
$rhapsody-in-blue: #0b2644;
$blue-nights: #383a4a;
$dutch-blue: #46658e;
$windows-blue: #3475c0;
$grey-blueberry: #6c7d93;
$chain-gang-grey: #708090;
$cotton-ball: #f4f8fc;
$giant-onion: #6457a1;
$purple-rhapsody: #8176b5;
$purple-rhapsody: #8077b6;
$petunia: #533165;
$nightly-violet: #7d4788;
$wet-crows-wing: #905;
$radiant-orchid: #a9559d;
$daphne-rose: #ba77b1;
$rouge-red: #dd4a68;
$desire: #ed3a4a;
$cranberry-splash: #e04e64;
$sugar-coral: #f16975;
